/*Flex Layout Container*/
.flexContainer {
    display: flex;
    display: -webkit-flex;
    /*Browser Hack for Safari*/
    flex-wrap: wrap;
    flex-direction: row;
    /*align-content: space-evenly;*/
    /*justify-content: space-evenly;*/
}
