.ColorCard {
    width: 100%;
    height: 100%;
    margin: auto;
    /*center the color block*/
    /*margin and padding refers to the width of the element*/
}

.ColorCard > div {
    /*styling the color name inside div element*/
    color: white;
    font-size: 0.8vw;
    text-align: center;
    word-wrap: break-word;
    /*allow to break the long word to another line*/
    font-family: "Comic Sans MS", cursive, sans-serif;

    /*let the inside div fully occupy the ColorCard frame*/
    height: 100%;
    line-height: 4.4vw;
    /*
    Purpose: To make the text vertically align in the div block element, set the line-height identically with height;

    Mistake: 100%, it refers to 100% to the font-size of the element, instead of 100% of the element height;
     */
    width: 100%;
    border-radius: 5px;
}
